
 #arrow {
    position: relative;
    border: 5px solid white;
    top: 200px;
    width: 40px;
    height: 40px;
    z-index: -1;
} 


/* #input {
    position: absolute;
    top: -80px;
    right:35px;
} */

/* #floor {
    position:relative;
    right:-25px;
} */

#details {
    top: -50px;
}

.section {
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
  }
  
  #info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #2d3667;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    background-color: #f3f9f9;
  }
  
  #form__cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
    z-index: 1;
  }

  
  #select-button {
    position: relative;
    height: 16px;
    padding: 12px 14px;
    background-color: #212121;
    border-radius: 6px;
    border: 1px solid gray;
    cursor: pointer;
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(42, 42, 42, 0.6);
    transition:0.35s;
  }
  
  #options-view-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  #selected-value {
    font-size: 16px;
    line-height: 1;
    margin-right: 85px;
    align-items: center;
  }
  
  
  
  .option,
  .label {
    color: white;
    font-size: 16px;
  }
  

  #options-view-button:checked + #select-button #chevrons i {
    color: #2d3667;
  }
  
  .options {
    position: absolute;
    left: 0;
    width: 250px;
  }
  
  #options {
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #212121;
    border-radius: 4px;
  }
  
  #options-view-button:checked ~ #options {
    border: 1px solid black;
  }
  
  .option {
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
  }
  
  .option i {
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
  }
  
  #options-view-button:checked ~ #options .option i {
    display: block;
    padding: 12px 0;
  }
  
  .label {
    display: none;
    padding: 0;
    margin-left: 27px;
  }
  
  #options-view-button:checked ~ #options .label {
    display: block;
    padding: 12px 14px;
  }
  
  .s-c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
  }
  
  .s-c.top {
    top: 0;
  }
  
  .s-c.bottom {
    bottom: 0;
  }
  
  input[type="radio"] {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .s-c:hover ~ i {
    color: #fff;
    opacity: 0;
  }
  
  .s-c:hover {
    height: 100%;
    z-index: 1;
  }
  
  .s-c.bottom:hover + i {
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
  }
  
  .s-c.top:hover ~ i {
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
  }
  
  @keyframes moveup {
    0% {
      bottom: -25px;
      opacity: 0;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
  }
  
  @keyframes movedown {
    0% {
      top: -25px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  
  .label {
    transition: 0.3s ease all;
  }
  
  .opt-val {
    position: absolute;
    left: 14px;
    width: 217px;
    height: 24px;
    opacity: 0;
    background-color: #212121;
    transform: scale(0);
  }
  
  .option input[type="radio"]:checked ~ .opt-val {
    opacity: 1;
    transform: scale(1.01);
  }
  
  .option input[type="radio"]:checked ~ i {
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
  }
  
  .option input[type="radio"]:checked ~ i,
  .option input[type="radio"]:checked ~ .label {
    color: #fff;
  }
  
  .option input[type="radio"]:checked ~ .label:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  #options-view-button:not(:checked)
    ~ #options
    .option
    input[type="radio"]:checked
    ~ .opt-val {
    top: -30px;
  }
  
  .option:nth-child(1) input[type="radio"]:checked ~ .label:before {
    background-color: #f18203;
    border-radius: 4px 4px 0 0;
  }
  
  .option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
    top: -21px;
  }
  
  .option:nth-child(2) input[type="radio"]:checked ~ .label:before {
    background-color: #f18203;
  }
  
  .option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
    top: -61px;
  }
  
  .option:nth-child(3) input[type="radio"]:checked ~ .label:before {
    background-color: #f18203;
  }
  
  .option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
    top: -101px;
  }
  
  .option:nth-child(4) input[type="radio"]:checked ~ .label:before {
    background-color: #f18203;
  }
  
  .option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
    top: -141px;
  }
  
  .option:nth-child(5) input[type="radio"]:checked ~ .label:before {
    background-color: #f18203;
  }
  
  .option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
    top: -181px;
  }

  .option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
    top: -221px;
  }

  .option:nth-child(6) input[type="radio"]:checked ~ .label:before {
    background-color: #f18203;
    
  }
  
  .option:nth-child(7) input[type="radio"]:checked ~ .opt-val {
    top : -261px;
  }

  .option:nth-child(7) input[type="radio"]:checked ~ .label:before {
    background-color: #f18203;
  }

  .option:nth-child(8) input[type="radio"]:checked ~ .label:before {
    background-color: #f18203;
    border-radius: 0 0 4px 4px;
  }
  
  .option:nth-child(8) input[type="radio"]:checked ~ .opt-val {
    top: -301px;
  }

 
  #option-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
  }
  
  #options-view-button:checked ~ #options #option-bg {
    display: block;
  }
  
  .option:hover .label {
    color: black;
  }
  
  .option:nth-child(1):hover ~ #option-bg {
    top: 0;
    background-color: white;
    border-radius: 4px 4px 0 0;
  }
  
  .option:nth-child(2):hover ~ #option-bg {
    top: 40px;
    background-color: white;
  }
  
  .option:nth-child(3):hover ~ #option-bg {
    top: 80px;
    background-color: white;
  }
  
  .option:nth-child(4):hover ~ #option-bg {
    top: 120px;
    background-color: white;
  }
  
  .option:nth-child(5):hover ~ #option-bg {
    top: 160px;
    background-color: white;
  }

  .option:nth-child(6):hover ~ #option-bg {
    top:200px;
    background-color: white;
  }

  .option:nth-child(7):hover ~ #option-bg {
    top: 240px;
    background-color: white;
  }
  
  .option:nth-child(8):hover ~ #option-bg {
    top: 280px;
    background-color: white;
    border-radius: 0 0 4px 4px;
  }


  
  


