html,body{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; 
    /* background-color: rgb(36, 36, 36); */
    background-image: url('/Reference/brick_bac.jpeg');
   

  }
  .metal {
    background-image: url("./Metal.jpg");
   
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;

    display: flex;
    align-items: center;
    height: 90vh;
    width: 60%;
    /* background-image: linear-gradient(135deg, #6a737a, #3c4449);
    background-size: 200% 200%;
    animation: shiny-background 10s ease infinite;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.8); */
   
    justify-content:center; /* Space the items evenly along the row */
    gap: 30px; /* Gap between items */
    max-width: 600px; /* Set a maximum width to prevent overflow */
    margin: 0 1 ; 
    flex-direction: row;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }