body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }

.meter{
    border: 12px #b3b4b5 solid;
    font-family: 'Press Start 2P', cursive;
    background-color:rgba(0, 0, 0, 0.797) ;
    display: flex;
    justify-content: center;
    width:30%;
    gap: 40px;
    font-size: 40px;
  
    color: #B00101;
}