body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }

.meter{
    border: 12px #b3b4b5 solid;
    font-family: 'Press Start 2P', cursive;
    background-color:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    gap: 40px;
    font-size: 40px;
  line-height: 5px;
    color: #B00101;
    animation: blink-animation 10s linear infinite;
}
@keyframes blink-animation {
  0% { visibility: visible; }
  50% { visibility: hidden; }
  100% { visibility: visible; }
}


#down_arrow,#up_arrow{
  width: 70px;
  height: 50px;
}