body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/Floor_console.jpg"); 
    background-size: 100vw 100vh;
    min-height: 100vh;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%; 
    overflow: hidden;
    /* background-color: black; */
  }
  
  .container {
    position: fixed;
    font-family: sans-serif;
    top: 50px;
    right: 450px;
    
  }
  
  .container::before, .container::after {
    content: "";
    background-color: #fab5704c;
    /* position: absolute; */
  }
  

 
  
  .container::after {
    content: "";
    /* position: absolute; */
    height: 3rem;
    /* top: 8%;
    right: 5%; */
   
  }
  
  .container .box {
    width: 18.875em;
    height: 30.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    /* -webkit-backdrop-filter: blur(20px); */
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1s, transform 1s;
    animation: popupAnimation 2s ease-out forwards;
  }
  @keyframes popupAnimation {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  table{
    width: 18.875em;
    height: 30.875em;
    transition: width 1s, height 1s; /* Apply transitions to width and height changes */
    animation: resizeAnimationtable 1.5s forwards;
  }
  @keyframes resizeAnimationtable {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 18.875em;
    height: 30.875em;
    }
  }
  
  .container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
 
  .container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }  

  .steel{
    /* background-image: url("../assets/meter_bac.jpg"); */
    background-color: rgba(255, 255, 255, 0.074);
    /* border: 1px solid rgba(255, 255, 255, 0.222); */
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
    border-radius: 0.7rem;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
  }
  .meter{
      
      font-family: 'Press Start 2P', cursive;
      background-color:black;
      
      display: flex;
      justify-content: center;
      align-items: center;
      width:90%;
      gap: 40px;
      margin: 8px 0px;
      font-size: 40px;
    line-height: 5px;
      color: #B00101;
      animation: blink-animation 10s linear infinite;
  }
  @keyframes blink-animation {
    0% { visibility: visible; }
    50% { visibility: hidden; }
    100% { visibility: visible; }
  }
  
  
  #down_arrow,#up_arrow{
    width: 70px;
    height: 50px;
  }
  
  button{
    background-color: rgba(255, 255, 255, 0.074);
    /* border: 1px solid rgba(255, 255, 255, 0.222); */
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
   width: 70px; 
  color: white;
  font-weight: 300;
  height: 70px;
  font-size: 20px;
  padding-top:6%;
  padding-bottom:6%;
  
 margin-top: 10px;
    
    border-radius: 50%;
    border: 2px solid white;
  cursor: pointer;

  }
  button:hover{
    box-shadow: 0 0 30px #B01001;
  }

.disable{
  opacity: 0.5;
  cursor: auto;
}
.disable:hover{
  box-shadow: none;
}
td{
  padding: 0 35px;
}
td p{
  line-height: 2px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: white;

}



/* doors */
.doors{
  display: flex;
  align-items: center;
  justify-items: center;
}
img {
  height: 100vh; 
}
#right{
position: absolute;
  animation-duration: 7s;
  animation-name: rightslide ; 
  z-index: 10;
 

}
@keyframes rightslide {
  from {
    margin-left: 0%;
    width: 50%;
  }

  to {
    margin-left: 100%;
    width: 0%;
    display: none;
  }
}
#left{
  position: absolute;
  animation-duration: 7s;
  animation-name: leftslide;
 z-index: 10;
 height: 100vh; 
  
}
@keyframes leftslide {
  to {
    margin-left:-150%;
    width: 50%;
    display: none;
  }

  from{
    margin-left: -50%;
    width: 0%;
  }
}

 