body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("/Lift/assets/Floor_console.jpg");
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%; */
    background-color: black;
  }
  
  .slanted-container {
    position: relative;
    display: inline-block;
  }
  
  
  .container {
    position: relative;
    font-family: sans-serif;
    
  }
  
  .container::before, .container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
  }
  
  .container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }
  
 
  
  .container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  
  .container .box {
    width: 11.875em;
    height: 15.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
  }
  
  .container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em
  }
  
  .container .box div strong {
    display: block;
    margin-bottom: .5rem;
  }
  
  .container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
  }
  
  .container .box div span {
    font-size: .7rem;
    font-weight: 300;
  }
  
  .container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
  }
  
  .container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }  

  .steel{
    background-image: url("/Lift/assets/meter_bac.jpg");
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
  }
  .meter{
      
      font-family: 'Press Start 2P', cursive;
      background-color:black;
      display: flex;
      justify-content: center;
      align-items: center;
      width:90%;
      gap: 40px;
      margin: 8px 0px;
      font-size: 40px;
    line-height: 5px;
      color: #B00101;
      animation: blink-animation 10s linear infinite;
  }
  @keyframes blink-animation {
    0% { visibility: visible; }
    50% { visibility: hidden; }
    100% { visibility: visible; }
  }
  
  
  #down_arrow,#up_arrow{
    width: 70px;
    height: 50px;
  }
  
  button{
    background-color: black;
   width: 70px; 
  
  padding-top:6%;
  padding-bottom:6%;
  
  margin-top:-0.5em;
    
    border-radius: 50%;
    border: 2px solid white;
    

  }