html,body{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%; 
    /* background-color: rgb(36, 36, 36); */
    /* background-image: url("brick.jpeg"); */
    background-image: url("../assets/out.png");
   /* background-image: url("../assets/outside_console.jpg"); */

  }
  
  
  .metal {
    background-image: url("./Metal.jpg");
   
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
position: absolute;
    display: flex;
    align-items: center;
    height: 90vh;
    width: 60%;
    /* background-image: linear-gradient(135deg, #6a737a, #3c4449);
    background-size: 200% 200%;
    animation: shiny-background 10s ease infinite;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.8); */
   
    justify-content:center; /* Space the items evenly along the row */
    gap: 30px; /* Gap between items */
    max-width: 600px; /* Set a maximum width to prevent overflow */
    margin: 0 1 ; 
    flex-direction: row;
  }


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 1s ease;
  }
  
  .form .form_front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    backface-visibility: hidden;
    padding: 50px 45px;
    border-radius: 15px;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  }
  
  .form .form_back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    padding: 65px 45px;
    border-radius: 15px;
    box-shadow: inset 2px 2px 10px rgba(0,0,0,1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  }
  
  .form_details {
    font-size: 20px;
    font-weight: 600;
    font-family:  'Handjet', cursive;
    color: rgb(172, 11, 11);
    line-height: 6px;
    align-items: center;
 
  }
  
  .input {
    width: 245px;
    min-height: 45px;
    color: #fff;
    outline: none;
    transition: 0.35s;
    padding: 0px 7px;
    background-color: #212121;
    border-radius: 6px;
    border: 2px solid #212121;
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6);
  }
  
  .input::placeholder {
    color: #999;
  }
  
  .input:focus.input::placeholder {
    transition: 0.3s;
    opacity: 0;
  }
  
  .input:focus {
    transform: scale(1.05);
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px rgba(0,0,0,1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  }
  
  .btn {
    padding: 10px 35px;
    cursor: pointer;
    background-color: #212121;
    border-radius: 6px;
    border: 2px solid #212121;
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    transition: 0.35s;
  }
  
  .btn:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px rgba(0,0,0,1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  }
  
  .btn:focus {
    transform: scale(1.05);
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px rgba(0,0,0,1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  }
  
  .form .switch {
    font-size: 13px;
  }
  
  .form .switch .signup_tog {
    font-weight: 700;
    cursor: pointer;
  }
  
  .container #signup_toggle {
    display: none;
  }
  
  .container #signup_toggle:checked + .form {
    transform: rotateY(-180deg);
  }
/* alert */

  #alert{
    width: 200px;
    height: 160px;
    background:url("../assets/meter_bac_alert.jpg");
    display: none;
    border-radius: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    gap: 3px;
    position: absolute;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    z-index: 1000;
  }
  
  
  #cookieimg {
    width: 70px;
  }
  

  
  .cookieHeading {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
  }
  
  .cookieDescription {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    color: #B00101;
  }
  
  
  .acceptButton {
    width: 80px;
    height: 30px;
    background-color: black;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
  }
  
  .acceptButton:hover {
   
    transition-duration: .2s;
  }