/* .main{
    
    background:  url("../assets/images/lift_background.jpg");
    height: 100vh;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
} */
.container{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   align-self: center;
   justify-items: center;
   justify-self: center;
   margin-top: 4%;
  
   
}
.title{
    font-size: 2.25rem;
    color: #166ae0;
}
.form{
    display: flex;
    padding-top: 5%;
    max-width: 600px;
    flex-direction: column;
    width:60%;
    /* align-items: center; */
    
    height: 100%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.forminput{
    width:90%;
}
.formbutton{
    width: 50%;
}
