body {
    font-family: Arial, sans-serif;
   
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  /* sidebar */
.profile-sidebar {
  display: flex;
  background-color: white;
height: 100vh;
  color: black;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); /* Apply box shadow on the left side */
}

.profile-info {
  padding: 20px;
}

.profile-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar-nav {
  flex: 1;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  margin: 10px 0;
}

.sidebar-nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.sidebar-nav ul li a:hover {
  background-color: #007bff;
}
/* table */
  .data-table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .data-table th,
  .data-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .data-table th {
    background-color: #f2f2f2;
  }
  
  .data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .data-table td:last-child,
  .data-table th:last-child {
    text-align: center;
  }

  .btn-update,
  .btn-delete {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-update {
    background-color: #4CAF50;
    color: #fff;
    margin-right: 5px;
  }
  
  .btn-delete {
    background-color: #f44336;
    color: #fff;
  }

  .button {
    background-color: #21395f;
    height: 50px;
    width: 90px;
    color: white;
    border:#21395f;
    border-radius: 5px;
    position:absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    box-shadow: 6px 6px 10px black,
    1px 1px 10px rgba(255,255,255,0.6);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

  }

  .button:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px rgba(0,0,0,1),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);


  }
  