body {
  font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;

  }
  /* Top bar */
  .top-bar{
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    border: #21395f 1px solid;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 1;
  }
  .top-bar img{
    height: 40px;
    margin-right: 2%;
    border-radius: 50%;

  }
  .top-bar :hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    height: 42px;
  }
  /* alert */
  .popup-div {
    width: 100px;
    background-color: white;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1s, transform 1s;
    animation: popupAnimation 1s ease-out forwards;
    border: black 5px solid;
    position: absolute;
    top: 10;
    left:80;
    visibility: hidden;
  }
  
  .popup-div p {
    margin: 0;
    padding: 20px;
  }
  
  @keyframes popupAnimation {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  /* sidebar */
#profile-sidebar {
  display: none;
  background-color: white;
  height: 70vh;
  width: 20%;
  color: black;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s, transform 1s;
  animation: popupAnimation 1s ease-out forwards;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: absolute;
  margin-top: 60px;
  margin-right: 2px;
  right: 0; 
}
.display{
  display: flex !important;
  justify-content: center;
}
@keyframes popupAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
    margin-right: -10%;
    margin-top: -2%;
  
  }
  100% {
    opacity: 1;
    transform: scale(1);
   margin-right: 1%;
   margin-top: 5%;
  }
}
.profile-info {
  padding: 20px;
  text-align: center;
}

.profile-info img {
  width: 180px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* table */
  .data-table {
    width: 80%;
    border-collapse: collapse;
   
    background-color: white;
    border-radius: 10px;
    margin-top: 10%;
    
  }

  
  .data-table th,
  .data-table td {
    padding: 10px;
  text-align: left;
  margin-top: 30px;
 
  }
  
  .data-table th {
    background-color: #21395f;
    border: #21395f 1px solid;
    color: white;
  }
  
 .data-table tr{
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  margin-top: 30px;
  height: 50px;
 }

  .data-table td:last-child,
  .data-table th:last-child {
    text-align: center;
  }

  .btn-update,
  .btn-delete {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-update {
    background-color: #4CAF50;
    color: #fff;
    margin-right: 5px;
  }
  
  .btn-delete {
    background-color: #f44336;
    color: #fff;
  }

  .button {
    background-color: #21395f;
    height: 34px;
    width: 120px;
    color: white;
    border:#21395f;
    border-radius: 5px;
   
    cursor: pointer;
    /*  6px 6px 10px black, */
    box-shadow: 1px 1px 10px rgba(255,255,255,0.6);
    font-size: 15px;
   
   

  }

  .button:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px #21395f,
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);


  }
  