body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .data-table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .data-table th,
  .data-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .data-table th {
    background-color: #f2f2f2;
  }
  
  .data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .data-table td:last-child,
  .data-table th:last-child {
    text-align: center;
  }

  .btn-update,
  .btn-delete {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-update {
    background-color: #4CAF50;
    color: #fff;
    margin-right: 5px;
  }
  
  .btn-delete {
    background-color: #f44336;
    color: #fff;
  }

  .button {
    background-color: #21395f;
    height: 50px;
    width: 70px;
    color: white;
    border:#21395f;
    border-radius: 5px;
    position:absolute;
    right: 20px;
    top: 0px;
    cursor: pointer;

  }
  